@charset "UTF-8";
/*==========================================
  Common
==========================================*/
/* base
==================================*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
li,
ol,
dl,
dd,
tr {
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

.sp {
  display: none !important;
}

a {
  color: #000;
  text-decoration: none;
  transition: 0.3s;
}

a:visited {
  color: #000;
}

a:hover {
  color: #000;
  text-decoration: none;
}

a:active {
  color: #000;
}

a.tel {
  pointer-events: none;
  cursor: default;
}

/* main
==================================*/
main {
  display: block;
  /*IE対策*/
}

/*　Retina対応時のCSS↓　*/
/* header
==================================*/
header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  transition: .3s ease-in-out;
}

header.top_head {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

header.top_head .header_inner .h_left {
  opacity: 0;
}

header.scroll {
  top: 0;
  height: 100px;
}

header.scroll .header_inner .h_left {
  opacity: 1;
}

header.scroll .header_inner .h_right ul li .sub_menu {
  bottom: -287px;
}

header.scroll .header_inner .h_right ul li .sub_menu::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 10px;
  top: -10px;
  bottom: unset;
  left: 0;
  right: 0;
  margin: 0 auto;
}

header .header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100px;
  width: 100%;
}

header .header_inner .h_left {
  opacity: 1;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding-left: 60px;
  transition: .3s ease-in-out;
}

@media screen and (max-width: 1280px) {
  header .header_inner .h_left {
    width: 30%;
  }
}

header .header_inner .h_left .logo a img {
  width: 185px;
}

header .header_inner .h_right {
  padding-left: 70px;
  width: 60%;
  height: 100%;
  background: #00b680;
  background: linear-gradient(270deg, #00b680 0%, #00c1d8 100%);
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  header .header_inner .h_right {
    width: 70%;
  }
}

@media screen and (max-width: 1100px) {
  header .header_inner .h_right {
    padding-left: 30px;
  }
}

header .header_inner .h_right ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

header .header_inner .h_right ul li {
  position: relative;
  margin-right: 35px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  header .header_inner .h_right ul li {
    margin-right: 25px;
  }
}

header .header_inner .h_right ul li a {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  position: relative;
}

@media screen and (max-width: 1100px) {
  header .header_inner .h_right ul li a {
    font-size: 14px;
  }
}

header .header_inner .h_right ul li a:hover::before {
  transform: scale(0);
}

header .header_inner .h_right ul li a:hover::after {
  top: -9px;
  transform: scale(1);
}

header .header_inner .h_right ul li a.here::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50px;
  position: absolute;
  top: -9px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .3s ease-in-out;
}

header .header_inner .h_right ul li a::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50px;
  position: absolute;
  top: 9px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .3s ease-in-out;
  transform: scale(0);
}

header .header_inner .h_right ul li:hover .sub_menu {
  display: flex;
}

header .header_inner .h_right ul li .sub_menu {
  transition: .3s linear;
  position: absolute;
  bottom: 104px;
  left: -80px;
  margin: 0 auto;
  background-color: #fff;
  display: none;
  justify-content: flex-end;
  flex-wrap: wrap;
  min-width: 215px;
  padding: 5px;
  height: unset;
  box-shadow: -1px 1px 12px 1px rgba(8, 5, 6, 0.12);
  -webkit-box-shadow: -1px 1px 12px 1px rgba(8, 5, 6, 0.12);
  -moz-box-shadow: -1px 1px 12px 1px rgba(8, 5, 6, 0.12);
}

header .header_inner .h_right ul li .sub_menu::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

header .header_inner .h_right ul li .sub_menu li {
  width: 100%;
  margin-right: 0;
  display: block;
  text-align: center;
  padding: 15px 0;
}

header .header_inner .h_right ul li .sub_menu li:not(:last-child) {
  border-bottom: 1px solid #e2e2e2;
}

header .header_inner .h_right ul li .sub_menu li a {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 500;
  font-size: 16px;
  color: #252525;
}

header .header_inner .h_right ul li .sub_menu li a.here {
  color: #2a94ed;
}

header .header_inner .h_right ul li .sub_menu li a:hover {
  color: #2a94ed;
}

/* footer
==================================*/
footer {
  background: #00a3b5;
}

footer .footer_inner {
  padding-bottom: 40px;
  padding-top: 50px;
}

footer .footer_inner .container .top_nav:nth-child(3) ul li {
  margin: 0 25px;
}

@media only screen and (max-width: 1210px) {
  footer .footer_inner .container .top_nav:nth-child(3) ul li {
    margin: 0 15px;
  }
}

footer .footer_inner .container .top_nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer .footer_inner .container .top_nav ul li {
  margin: 0 28px;
}

footer .footer_inner .container .top_nav ul li a {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  position: relative;
}

footer .footer_inner .container .top_nav ul li a:hover::after {
  width: 100%;
}

footer .footer_inner .container .top_nav ul li a::after {
  content: "";
  display: block;
  transition: .3s ease-in-out;
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -5px;
  background-color: #fff;
}

footer .footer_inner .container .m_employment {
  padding: 40px 60px 20px;
}

footer .footer_inner .container .m_employment span {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-align: center;
  display: block;
  border: 1px solid #5cc5d0;
}

footer .footer_inner .container .logo {
  text-align: center;
  margin: 100px 0;
}

footer .footer_inner .container .logo a img {
  width: 229px;
}

footer .footer_inner .container .copy {
  text-align: center;
}

footer .footer_inner .container .copy small {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 500;
  font-size: 12px;
  color: #fff;
}

#pageTop {
  opacity: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 888;
  transition: 0.3s;
}

#pageTop.active {
  opacity: 1;
}

#pageTop a {
  display: block;
  width: 50px;
}

#pageTop a:hover {
  opacity: 0.7;
}

/* loader
==================================*/
#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1001;
}

/* Animation
==================================*/
.c-anim-up {
  transform: translate(0, 30px);
  opacity: 0;
  transition: 0.3s ease;
}

.move {
  transform: translate(0, 0);
  opacity: 1;
}

.delay1 {
  -moz-transition-delay: 300ms;
  -webkit-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  -ms-transition-delay: 300ms;
}

.delay2 {
  -moz-transition-delay: 600ms;
  -webkit-transition-delay: 600ms;
  -o-transition-delay: 600ms;
  -ms-transition-delay: 600ms;
}

.delay3 {
  -moz-transition-delay: 900ms;
  -webkit-transition-delay: 900ms;
  -o-transition-delay: 900ms;
  -ms-transition-delay: 900ms;
}

.delay4 {
  -moz-transition-delay: 1200ms;
  -webkit-transition-delay: 1200ms;
  -o-transition-delay: 1200ms;
  -ms-transition-delay: 1200ms;
}

.delay5 {
  -moz-transition-delay: 1500ms;
  -webkit-transition-delay: 1500ms;
  -o-transition-delay: 1500ms;
  -ms-transition-delay: 1500ms;
}

.delay6 {
  -moz-transition-delay: 1800ms;
  -webkit-transition-delay: 1800ms;
  -o-transition-delay: 1800ms;
  -ms-transition-delay: 1800ms;
}

.delay7 {
  -moz-transition-delay: 2100ms;
  -webkit-transition-delay: 2100ms;
  -o-transition-delay: 2100ms;
  -ms-transition-delay: 2100ms;
}

/*==================================
  Component
==================================*/
html {
  overflow: auto;
}

html.no_move {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

img[src$=".png"], img[src$=".jpg"] {
  backface-visibility: hidden;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
}

@media (max-width: 899px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.row .col {
  position: relative;
  width: 100%;
  min-height: 1px;
  box-sizing: border-box;
}

.row .col.col_4 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.btn_link:hover {
  background-color: #eaeaea;
}

.btn_link:hover img {
  right: 15px !important;
}

/*==================================
	リスト系
==================================*/
.news_ul {
  margin: 0 0 19px;
}

.news_ul .news_li {
  border-bottom: 1px solid #e8e8e8;
  padding: 22px 14px;
}

.news_ul .news_li > a {
  display: flex;
  align-items: center;
}

.news_ul .news_li > a .date {
  font-size: 16px;
  color: #919191;
  margin-right: 24px;
}

.news_ul .news_li > a .img_wrap {
  margin-right: 17px;
}

@media (min-width: 900px) {
  .news_ul .news_li > a .title {
    background: linear-gradient(#000, #000) 0 100%/0 1px no-repeat;
    transition: background 0.4s ease;
  }
  .news_ul .news_li > a:hover .title {
    background-size: 100% 1px;
  }
}

@media (max-width: 899px) {
  .news_ul .news_li {
    padding: 14px 0;
  }
  .news_ul .news_li > a {
    display: block;
    position: relative;
    padding-left: 80px;
  }
  .news_ul .news_li > a .img_wrap {
    margin-right: 0;
    position: absolute;
    top: 0;
    left: -5px;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
  }
  .news_ul .news_li > a .img_wrap img {
    max-width: 57px;
  }
  .news_ul .news_li > a .date,
  .news_ul .news_li > a .title {
    display: block;
  }
  .news_ul .news_li > a .date {
    font-size: 14px;
    margin: 0 0 7px;
  }
  .news_ul .news_li > a .title {
    font-size: 16px;
    line-height: 1.3;
  }
}

/*==================================
	ページナビ
==================================*/
.page_navigation .wp-pagenavi {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px 0 50px;
}

@media (max-width: 899px) {
  .page_navigation .wp-pagenavi {
    margin: 30px 0 40px;
  }
}

.page_navigation .wp-pagenavi > .page,
.page_navigation .wp-pagenavi .current {
  font-size: 16px;
  font-weight: 500;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 5px;
}

.page_navigation .wp-pagenavi > .page:not(.current),
.page_navigation .wp-pagenavi .current:not(.current) {
  background-color: #f3f3f3;
}

@media (min-width: 900px) {
  .page_navigation .wp-pagenavi > .page:not(.current):hover,
  .page_navigation .wp-pagenavi .current:not(.current):hover {
    color: #fff;
    background-color: #000;
  }
}

.page_navigation .wp-pagenavi > .page.current,
.page_navigation .wp-pagenavi .current.current {
  background-color: #000;
  color: #fff;
}

.page_navigation .wp-pagenavi .nextpostslink,
.page_navigation .wp-pagenavi .previouspostslink {
  position: relative;
  font-weight: 500;
  box-sizing: border-box;
}

.page_navigation .wp-pagenavi .nextpostslink::before,
.page_navigation .wp-pagenavi .previouspostslink::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 9px;
  height: 14px;
  background-image: url(../images/common/pager_arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s ease;
}

.page_navigation .wp-pagenavi .nextpostslink.previouspostslink,
.page_navigation .wp-pagenavi .previouspostslink.previouspostslink {
  padding-left: 33px;
  margin-right: 30px;
}

.page_navigation .wp-pagenavi .nextpostslink.previouspostslink::before,
.page_navigation .wp-pagenavi .previouspostslink.previouspostslink::before {
  left: 0;
  transform: scale(-1, 1);
}

@media (min-width: 900px) {
  .page_navigation .wp-pagenavi .nextpostslink.previouspostslink:hover::before,
  .page_navigation .wp-pagenavi .previouspostslink.previouspostslink:hover::before {
    left: -5px;
  }
}

.page_navigation .wp-pagenavi .nextpostslink.nextpostslink,
.page_navigation .wp-pagenavi .previouspostslink.nextpostslink {
  padding-right: 33px;
  margin-left: 30px;
}

.page_navigation .wp-pagenavi .nextpostslink.nextpostslink::before,
.page_navigation .wp-pagenavi .previouspostslink.nextpostslink::before {
  right: 0;
}

@media (min-width: 900px) {
  .page_navigation .wp-pagenavi .nextpostslink.nextpostslink:hover::before,
  .page_navigation .wp-pagenavi .previouspostslink.nextpostslink:hover::before {
    right: -5px;
  }
}

.page_navigation .wp-pagenavi .list_back {
  margin-left: 58px;
  margin-right: 58px;
}

.page_navigation .wp-pagenavi .list_back > a {
  font-weight: 500;
}

.page_navigation .wp-pagenavi .list_back > a > .list_icon {
  display: inline-block;
  padding-left: 24px;
  position: relative;
}

.page_navigation .wp-pagenavi .list_back > a > .list_icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 14px;
  height: 14px;
  background-image: url(../img/news/list_icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.page_navigation > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px 0 50px;
}

.page_navigation > ul .link_page,
.page_navigation > ul .current_page {
  font-size: 16px;
  font-weight: 500;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 5px;
}

.page_navigation > ul .link_page:not(.current_page),
.page_navigation > ul .current_page:not(.current_page) {
  background-color: #f3f3f3;
}

@media (min-width: 900px) {
  .page_navigation > ul .link_page:not(.current_page):hover,
  .page_navigation > ul .current_page:not(.current_page):hover {
    color: #fff;
    background-color: #000;
  }
}

.page_navigation > ul .link_page.current_page,
.page_navigation > ul .current_page.current_page {
  background-color: #000;
  color: #fff;
}

/*==================================
	JUMBO SECTION
==================================*/
.jumbo_sect .wrapper {
  height: 270px;
  background-image: url(../images/common/sp/jumbo_img.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: 899px) {
  .jumbo_sect .wrapper {
    height: 145px;
  }
}

.jumbo_sect .wrapper .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.jumbo_sect .wrapper .container p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #106c86;
  letter-spacing: .13em;
  margin-bottom: 18px;
}

@media (max-width: 899px) {
  .jumbo_sect .wrapper .container p {
    font-size: 12px;
    margin-bottom: 6px;
  }
}

.jumbo_sect .wrapper .container h3 {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 700;
  font-size: 42px;
  color: #00b3c8;
  letter-spacing: .15em;
}

@media (max-width: 899px) {
  .jumbo_sect .wrapper .container h3 {
    font-size: 25px;
  }
}

/*==================================
	BREADCRUMBS SECTION
==================================*/
.breadcrumbs .wrapper {
  padding-top: 22px;
}

.breadcrumbs .wrapper .container ul {
  display: flex;
  justify-content: flex-end;
}

.breadcrumbs .wrapper .container ul li:not(:last-child)::after {
  content: ">";
  margin: 0 7px 0 2px;
}

.breadcrumbs .wrapper .container ul li:last-child a {
  color: #b1b1b1;
}

.breadcrumbs .wrapper .container ul li a {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 500;
  font-size: 14px;
  letter-spacing: .15em;
  color: #252525;
}

/*==========================================
  Layout
==========================================*/
/*==================================
  Top
==================================*/
#Top main .sect_1 .wrapper {
  position: relative;
}

#Top main .sect_1 .wrapper .logo {
  position: absolute;
  top: 30px;
  left: 60px;
  z-index: 1000;
  width: 185px;
}

#Top main .sect_1 .wrapper .container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Top main .sect_1 .wrapper .container img {
  max-width: 870px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

#Top main .sect_1 .wrapper .container a {
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #15b4d1;
}

#Top main .sect_1 .wrapper .container a span {
  position: relative;
  overflow: hidden;
  width: 6px;
  height: 50px;
  display: block;
  margin: 15px auto 0;
}

#Top main .sect_1 .wrapper .container a span::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 1px;
  height: 50px;
  background-color: #15b4d1;
}

#Top main .sect_1 .wrapper .container a span::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: #15b4d1;
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0 auto;
  animation-name: scroll_move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes scroll_move {
  to {
    top: 100%;
  }
}

#Top main .sect_2 {
  overflow: hidden;
}

#Top main .sect_2 .wrapper {
  padding-top: 100px;
  padding-bottom: 150px;
  position: relative;
  background-color: #f6fafb;
}

#Top main .sect_2 .wrapper::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  width: 38%;
  height: 100%;
  background-color: #99dcd8;
}

#Top main .sect_2 .wrapper .row {
  position: relative;
  z-index: 1;
  align-items: center;
}

#Top main .sect_2 .wrapper .row .col {
  width: 50%;
}

#Top main .sect_2 .wrapper .row .col:first-child {
  padding-right: 55px;
  padding-left: 50px;
}

#Top main .sect_2 .wrapper .row .col:first-child .txt_cont {
  max-width: 553px;
  margin-left: auto;
}

#Top main .sect_2 .wrapper .row .col:first-child .txt_cont span {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #15b4d1;
  letter-spacing: .13em;
  display: block;
}

#Top main .sect_2 .wrapper .row .col:first-child .txt_cont h3 {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 700;
  font-size: 28px;
  color: #252525;
  line-height: 42px;
  padding: 5px 0 65px;
}

#Top main .sect_2 .wrapper .row .col:first-child .txt_cont p {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 500;
  font-size: 16px;
  color: #252525;
  line-height: 28.8px;
}

#Top main .sect_2 .wrapper .row .col:first-child .txt_cont ul {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#Top main .sect_2 .wrapper .row .col:first-child .txt_cont ul li {
  width: 48.81%;
  border: 1px solid #cbcbcb;
  margin-bottom: 9px;
  position: relative;
}

#Top main .sect_2 .wrapper .row .col:first-child .txt_cont ul li a {
  width: 100%;
  display: block;
  padding: 23px 30px;
  position: relative;
  box-sizing: border-box;
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 500;
  font-size: 16px;
  color: #252525;
}

#Top main .sect_2 .wrapper .row .col:first-child .txt_cont ul li a img {
  width: 25px;
  transition: .3s ease-in-out;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translate(0, -50%);
}

@media only screen and (max-width: 1180px) {
  #Top main .sect_2 .wrapper .row .col:first-child .txt_cont ul li a img {
    right: 10px;
  }
}

#Top main .sect_2 .wrapper .row .col:last-child {
  padding-left: 30px;
}

#Top main .sect_3 {
  overflow: hidden;
}

#Top main .sect_3 .wrapper {
  padding-top: 150px;
  padding-bottom: 180px;
}

#Top main .sect_3 .wrapper .row .col {
  width: 50%;
}

#Top main .sect_3 .wrapper .row .col:first-child {
  padding-right: 55px;
}

#Top main .sect_3 .wrapper .row .col:first-child .img_cont {
  display: flex;
  justify-content: space-between;
}

#Top main .sect_3 .wrapper .row .col:first-child .img_cont .item:first-child {
  width: 43.28%;
}

#Top main .sect_3 .wrapper .row .col:first-child .img_cont .item:first-child img:first-child {
  margin-bottom: 10px;
}

#Top main .sect_3 .wrapper .row .col:first-child .img_cont .item:first-child img.p-l-60 {
  padding-left: 60px;
}

#Top main .sect_3 .wrapper .row .col:first-child .img_cont .item:last-child {
  width: 55.16%;
}

#Top main .sect_3 .wrapper .row .col:last-child {
  padding-right: 55px;
  padding-left: 30px;
}

#Top main .sect_3 .wrapper .row .col:last-child .txt_cont {
  max-width: 570px;
  margin-right: auto;
}

#Top main .sect_3 .wrapper .row .col:last-child .txt_cont span {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #15b4d1;
  display: block;
  letter-spacing: .13em;
}

#Top main .sect_3 .wrapper .row .col:last-child .txt_cont h3 {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 700;
  font-size: 28px;
  color: #252525;
  line-height: 42px;
  padding: 5px 0 65px;
}

#Top main .sect_3 .wrapper .row .col:last-child .txt_cont p {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 500;
  font-size: 16px;
  color: #252525;
  line-height: 28.8px;
}

#Top main .sect_3 .wrapper .row .col:last-child .txt_cont .list {
  margin-top: 45px;
}

#Top main .sect_3 .wrapper .row .col:last-child .txt_cont .list li {
  width: 100%;
  position: relative;
}

#Top main .sect_3 .wrapper .row .col:last-child .txt_cont .list li:not(:last-child) {
  margin-bottom: 15px;
}

#Top main .sect_3 .wrapper .row .col:last-child .txt_cont .list li p {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 500;
  font-size: 18px;
  color: #252525;
  margin-bottom: 3px;
}

#Top main .sect_3 .wrapper .row .col:last-child .txt_cont .list li p span {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #15b4d1;
  display: unset;
}

#Top main .sect_3 .wrapper .row .col:last-child .txt_cont .list li a {
  background-color: #2fc0c5;
  width: 100%;
  display: block;
  padding: 19px 45px;
  position: relative;
  box-sizing: border-box;
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

#Top main .sect_3 .wrapper .row .col:last-child .txt_cont .list li a span {
  font-size: 26px;
  color: #fff;
  padding-left: 10px;
  display: unset;
}

#Top main .sect_3 .wrapper .row .col:last-child .txt_cont .list li a img {
  width: 25px;
  transition: .3s ease-in-out;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translate(0, -50%);
}

#Top main .sect_3 .wrapper .row .col:last-child .txt_cont .btn_cont {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#Top main .sect_3 .wrapper .row .col:last-child .txt_cont .btn_cont li {
  width: 48.81%;
  border: 1px solid #cbcbcb;
  margin-bottom: 9px;
  position: relative;
}

@media only screen and (max-width: 1250px) {
  #Top main .sect_3 .wrapper .row .col:last-child .txt_cont .btn_cont li:last-child a img {
    right: 10px;
  }
}

#Top main .sect_3 .wrapper .row .col:last-child .txt_cont .btn_cont li a {
  width: 100%;
  display: block;
  padding: 23px 28px;
  position: relative;
  box-sizing: border-box;
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 500;
  font-size: 16px;
  color: #252525;
}

@media only screen and (max-width: 1250px) {
  #Top main .sect_3 .wrapper .row .col:last-child .txt_cont .btn_cont li a {
    font-size: 14px;
  }
}

#Top main .sect_3 .wrapper .row .col:last-child .txt_cont .btn_cont li a img {
  width: 25px;
  transition: .3s ease-in-out;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translate(0, -50%);
}

/*==================================
  Message
==================================*/
#Message main {
  margin-top: 100px;
}

#Message main .sect_1 .wrapper {
  padding-top: 55px;
  padding-bottom: 180px;
}

#Message main .sect_1 .wrapper .container .row .col:first-child {
  width: 48%;
  padding-right: 70px;
  padding-left: 50px;
}

#Message main .sect_1 .wrapper .container .row .col:first-child .img_cont.row .col {
  width: 100%;
}

#Message main .sect_1 .wrapper .container .row .col:first-child .img_cont.row .col:first-child {
  padding-right: 50px;
  padding-left: 0;
  margin-bottom: 10px;
}

#Message main .sect_1 .wrapper .container .row .col:first-child .img_cont.row .col:last-child {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#Message main .sect_1 .wrapper .container .row .col:first-child .img_cont.row .col:last-child img:first-child {
  width: 60%;
}

#Message main .sect_1 .wrapper .container .row .col:first-child .img_cont.row .col:last-child img:last-child {
  width: 38%;
}

#Message main .sect_1 .wrapper .container .row .col:last-child {
  width: 52%;
}

#Message main .sect_1 .wrapper .container .row .col:last-child .p_content {
  padding-top: 40px;
}

#Message main .sect_1 .wrapper .container .row .col:last-child .p_content p {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 500;
  font-size: 16px;
  color: #252525;
  line-height: 40px;
}

#Message main .sect_1 .wrapper .container .row .col:last-child .p_content p:not(:last-child) {
  margin-bottom: 35px;
}

#Message main .sect_1 .wrapper .container .row .col:last-child h4 {
  margin-top: 90px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  letter-spacing: .15em;
}

#Message main .sect_1 .wrapper .container .row .col:last-child h4 img {
  width: 156px;
  margin-left: 15px;
  position: relative;
  top: 3px;
}

/*==================================
  Recruit
==================================*/
#Recruit main {
  margin-top: 100px;
}

#Recruit main .sect_1 {
  overflow: hidden;
}

#Recruit main .sect_1 .wrapper {
  padding-bottom: 120px;
}

#Recruit main .sect_1 .wrapper .container .desc {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 500;
  font-size: 16px;
  color: #252525;
  line-height: 36.8px;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 110px;
}

#Recruit main .sect_1 .wrapper .row .col:first-child {
  width: 56%;
  padding-right: 80px;
  padding-left: 50px;
}

#Recruit main .sect_1 .wrapper .row .col:first-child .list {
  max-width: 670px;
  margin-left: auto;
}

#Recruit main .sect_1 .wrapper .row .col:first-child .list li:not(:last-child) {
  margin-bottom: 15px;
}

#Recruit main .sect_1 .wrapper .row .col:first-child .list li:not(:last-child) .row .col {
  border-bottom: 1px solid #e9e9e9;
}

#Recruit main .sect_1 .wrapper .row .col:first-child .list li .row {
  justify-content: space-between;
}

#Recruit main .sect_1 .wrapper .row .col:first-child .list li .row .col {
  padding: 0 0 16px 20px;
}

#Recruit main .sect_1 .wrapper .row .col:first-child .list li .row .col:first-child {
  width: 115px;
  padding-right: 0;
  display: flex;
  align-items: center;
}

#Recruit main .sect_1 .wrapper .row .col:first-child .list li .row .col:last-child {
  width: calc(100% - 145px);
}

#Recruit main .sect_1 .wrapper .row .col:first-child .list li .row .col p {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 500;
  font-size: 16px;
  color: #252525;
  line-height: 20.8px;
}

#Recruit main .sect_1 .wrapper .row .col:last-child {
  width: 44%;
}

#Recruit main .sect_2 .wrapper {
  background-color: #f6fafb;
  padding-bottom: 185px;
  padding-top: 120px;
}

#Recruit main .sect_2 .wrapper .container h3 {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 700;
  font-size: 36px;
  color: #252525;
  text-align: center;
  margin-bottom: 55px;
}

#Recruit main .sect_2 .wrapper .container .row {
  max-width: 1040px;
  margin: 0 auto;
  justify-content: space-between;
}

#Recruit main .sect_2 .wrapper .container .row .col {
  width: 32.12%;
}

#Recruit main .sect_2 .wrapper .container .row .col p {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 500;
  font-size: 16px;
  color: #252525;
  line-height: 30px;
  text-align: center;
  margin-bottom: 11px;
}

#Recruit main .sect_2 .wrapper .container .row .col p span {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: #2a94ed;
  text-align: center;
  line-height: .7;
}

#Recruit main .sect_2 .wrapper .container .row .col a {
  width: 100%;
  height: 160px;
  background-color: #2fc0c5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#Recruit main .sect_2 .wrapper .container .row .col a:hover img {
  right: -30px;
}

#Recruit main .sect_2 .wrapper .container .row .col a p {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 500;
  font-size: 32px;
  color: #fff;
}

#Recruit main .sect_2 .wrapper .container .row .col a p span {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  display: block;
  margin-bottom: 10px;
}

#Recruit main .sect_2 .wrapper .container .row .col a img {
  width: 28px;
  margin-top: 25px;
  transition: .3s ease-in-out;
  position: relative;
  right: 0;
}

/*==================================
  Store
==================================*/
#Store main {
  margin-top: 100px;
  background-color: #f6fafb;
}

#Store main .sect_1 .wrapper {
  padding-top: 95px;
  padding-bottom: 100px;
}

#Store main .sect_1 .wrapper .container .store_cont {
  padding-bottom: 60px;
}

#Store main .sect_1 .wrapper .container .store_cont h3 {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 700;
  font-size: 26px;
  color: #fff;
  letter-spacing: .12em;
  background-color: #2fc0c5;
  text-align: center;
  padding: 13px 0;
  margin-bottom: 28px;
}

#Store main .sect_1 .wrapper .container .store_cont .row {
  justify-content: space-between;
}

#Store main .sect_1 .wrapper .container .store_cont .row .col {
  width: 49.17%;
  margin-bottom: 20px;
}

#Store main .sect_1 .wrapper .container .store_cont .row .col .accordion {
  padding: 30px 30px 55px;
  background-color: #ffffff;
  min-height: 493px;
}

#Store main .sect_1 .wrapper .container .store_cont .row .col .accordion .accordion_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#Store main .sect_1 .wrapper .container .store_cont .row .col .accordion .accordion_head .accordion_header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 40px);
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 700;
  font-size: 24px;
  color: #252525;
}

#Store main .sect_1 .wrapper .container .store_cont .row .col .accordion .accordion_head .accordion_header img {
  width: 39px;
  margin-right: 10px;
}

#Store main .sect_1 .wrapper .container .store_cont .row .col .accordion .accordion_head .accordion_btn {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  background-color: #ececec;
}

#Store main .sect_1 .wrapper .container .store_cont .row .col .accordion .accordion_head .accordion_btn.active::before {
  transform: translate(-50%, -50%) rotate(90deg);
  opacity: 0;
}

#Store main .sect_1 .wrapper .container .store_cont .row .col .accordion .accordion_head .accordion_btn.active::after {
  transform: translate(-50%, -50%) rotate(180deg);
}

#Store main .sect_1 .wrapper .container .store_cont .row .col .accordion .accordion_head .accordion_btn::before {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease-in-out;
}

#Store main .sect_1 .wrapper .container .store_cont .row .col .accordion .accordion_head .accordion_btn::after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: .3s ease-in-out;
  transform: translate(-50%, -50%) rotate(90deg);
}

#Store main .sect_1 .wrapper .container .store_cont .row .col .accordion .accordion_body {
  position: relative;
  padding-top: 25px;
}

#Store main .sect_1 .wrapper .container .store_cont .row .col .accordion .accordion_body .store_info .row:not(:last-child) {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 12px;
  margin-bottom: 10px;
}

#Store main .sect_1 .wrapper .container .store_cont .row .col .accordion .accordion_body .store_info .row.address .col:last-child {
  display: flex;
  justify-content: space-between;
}

#Store main .sect_1 .wrapper .container .store_cont .row .col .accordion .accordion_body .store_info .row.address .col:last-child p {
  width: calc(100% - 70px);
}

#Store main .sect_1 .wrapper .container .store_cont .row .col .accordion .accordion_body .store_info .row .col {
  margin-bottom: 0;
}

#Store main .sect_1 .wrapper .container .store_cont .row .col .accordion .accordion_body .store_info .row .col:first-child {
  width: 100px;
  padding-left: 10px;
}

#Store main .sect_1 .wrapper .container .store_cont .row .col .accordion .accordion_body .store_info .row .col:first-child p {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 700;
  font-size: 16px;
  color: #252525;
}

#Store main .sect_1 .wrapper .container .store_cont .row .col .accordion .accordion_body .store_info .row .col:last-child {
  width: calc(100% - 100px);
}

#Store main .sect_1 .wrapper .container .store_cont .row .col .accordion .accordion_body .store_info .row .col:last-child p {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 500;
  font-size: 16px;
  color: #252525;
}

#Store main .sect_1 .wrapper .container .store_cont .row .col .accordion .accordion_body .store_info .row .col:last-child p .tel {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 500;
  font-size: 16px;
  color: #252525;
}

#Store main .sect_1 .wrapper .container .store_cont .row .col .accordion .accordion_body .store_info .row .col:last-child p.time {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

#Store main .sect_1 .wrapper .container .store_cont .row .col .accordion .accordion_body .store_info .row .col:last-child p.time span {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 500;
  font-size: 12px;
  color: #252525;
  text-align: center;
  background-color: #dcdcdc;
  width: 90px;
  display: block;
  padding: 0 0 2px;
  border-radius: 50px;
  margin-right: 10px;
}

#Store main .sect_1 .wrapper .container .store_cont .row .col .accordion .accordion_body .store_info .row .col:last-child p.access {
  text-indent: -17px;
  margin-left: 17px;
}

#Store main .sect_1 .wrapper .container .store_cont .row .col .accordion .accordion_body .store_info .row .col:last-child .map {
  display: block;
  width: 65px;
  height: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  background-color: #2fc0c5;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Store main .sect_1 .wrapper .container .store_cont .row .col .accordion .accordion_body .store_info .row .col:last-child .map:hover img {
  right: -5px;
}

#Store main .sect_1 .wrapper .container .store_cont .row .col .accordion .accordion_body .store_info .row .col:last-child .map img {
  width: 14px;
  margin-left: 5px;
  transition: .3s ease-in-out;
  position: relative;
  right: 0;
}

/*==================================
  About
==================================*/
#About main {
  margin-top: 100px;
}

#About main .breadcrumbs .wrapper {
  background-color: #f6fafb;
  position: relative;
}

#About main .breadcrumbs .wrapper::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  width: 38%;
  height: 100%;
  background-color: #99dcd8;
}

#About main .breadcrumbs .wrapper .container {
  position: relative;
  z-index: 1;
}

#About main .breadcrumbs .wrapper .container ul li:last-child a {
  color: #252525;
}

#About main .sect_1 .wrapper {
  background-color: #f6fafb;
  padding-top: 55px;
  padding-bottom: 140px;
  position: relative;
}

#About main .sect_1 .wrapper::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  width: 38%;
  height: 100%;
  background-color: #99dcd8;
}

#About main .sect_1 .wrapper .row {
  position: relative;
  z-index: 1;
  align-items: center;
}

#About main .sect_1 .wrapper .row .col {
  width: 50%;
}

#About main .sect_1 .wrapper .row .col:first-child {
  padding-left: 50px;
  padding-right: 40px;
}

#About main .sect_1 .wrapper .row .col:first-child .txt_cont {
  max-width: 552px;
  margin-left: auto;
}

#About main .sect_1 .wrapper .row .col:first-child .txt_cont span {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #2a94ed;
  letter-spacing: .13em;
  display: block;
}

#About main .sect_1 .wrapper .row .col:first-child .txt_cont h3 {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 700;
  font-size: 28px;
  color: #252525;
  line-height: 42px;
  padding: 5px 0 65px;
}

#About main .sect_1 .wrapper .row .col:first-child .txt_cont p {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 500;
  font-size: 16px;
  color: #252525;
  line-height: 28.8px;
}

#About main .sect_1 .wrapper .row .col:last-child {
  padding-left: 60px;
}

#About main .sect_2 .wrapper {
  padding-top: 120px;
  padding-bottom: 65px;
}

#About main .sect_2 .wrapper .container .list {
  padding-bottom: 115px;
}

#About main .sect_2 .wrapper .container .list:last-child .row .col:first-child {
  padding-right: 0;
  border-right: none;
}

#About main .sect_2 .wrapper .container .list:last-child .row .col:last-child {
  padding-left: 100px;
}

#About main .sect_2 .wrapper .container .list .l_head {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 700;
  font-size: 26px;
  color: #fff;
  background-color: #31c1c6;
  text-align: center;
  padding: 12px 0 14px;
  letter-spacing: .12em;
  margin-bottom: 45px;
}

#About main .sect_2 .wrapper .container .list .l_desc {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 700;
  font-size: 24px;
  color: #252525;
  text-align: center;
  letter-spacing: .08em;
  margin-bottom: 60px;
}

#About main .sect_2 .wrapper .container .list .row .col {
  width: 50%;
}

#About main .sect_2 .wrapper .container .list .row .col h4 {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 700;
  font-size: 24px;
  color: #00b3c8;
  margin-bottom: 32px;
}

#About main .sect_2 .wrapper .container .list .row .col p {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 500;
  font-size: 16px;
  color: #252525;
  line-height: 24px;
}

#About main .sect_2 .wrapper .container .list .row .col:first-child {
  padding-left: 60px;
  padding-right: 50px;
  border-right: 1px solid #e9e9e9;
}

#About main .sect_2 .wrapper .container .list .row .col:last-child {
  padding-left: 40px;
  padding-right: 60px;
}

/*==================================
  Contact_reset
==================================*/
main#Contact {
  /*------ Reset CSS ------*/
  /*------ Reset END ------*/
}

main#Contact input {
  -webkit-appearance: none;
}

main#Contact input[type='text'] {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
}

main#Contact input[type='radio'] {
  opacity: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 1;
}

main#Contact input[type='radio']:checked + label {
  background: #ff0000;
}

main#Contact input[type='checkbox'] {
  opacity: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 1;
}

main#Contact input[type='checkbox']:checked + label {
  background: #ff0000;
}

main#Contact input::placeholder {
  color: #b7b7b7;
}

main#Contact input:-ms-input-placeholder {
  color: #b7b7b7;
}

main#Contact input::-webkit-input-placeholder {
  color: #b7b7b7;
}

main#Contact button,
main#Contact input[type='button'],
main#Contact input[type='submit'] {
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

main#Contact textarea {
  appearance: none;
  resize: none;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
  border-radius: 0;
}

main#Contact select {
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
  border-radius: 0;
}

/*==================================
  Contact_base
==================================*/
/* input, textarea
--------------------------------*/
/* radio_button
--------------------------------*/
main#Contact {
  /*------ Form Base ------*/
  /*------ Form Base END ------*/
}

@keyframes onAutoFillStart {
  from {
  }
  to {
  }
}

main#Contact span.error {
  color: #cc0303;
  display: block;
  margin: 7px 0 0;
}

main#Contact input:-webkit-autofill {
  animation-name: onAutoFillStart;
  background: white !important;
  transition: background-color 50000s ease-in-out 0s;
}

main#Contact input[type="text"]:focus,
main#Contact input[type="email"]:focus,
main#Contact input[type="tel"]:focus,
main#Contact input[type="search"]:focus,
main#Contact input[type="url"]:focus,
main#Contact textarea:focus {
  color: #000;
  background-color: #dddddd;
}

main#Contact .ERR {
  color: #cc0303;
}

main#Contact input[type="text"] {
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  padding: 12px 21px;
  border: 1px solid #dddddd;
  background: #dddddd;
  box-sizing: border-box;
  color: #000;
  width: 100%;
}

main#Contact input[type="text"].zip {
  max-width: 247px;
  width: 100%;
}

main#Contact .zip-wrap {
  background: #dddddd;
  display: inline-block;
  position: relative;
  max-width: 247px;
  width: 100%;
  margin-right: 3px;
}

main#Contact .zip-wrap::before {
  content: "〒";
  font-size: 18px;
  position: absolute;
  top: 0.8em;
  left: 24px;
  margin: auto;
}

main#Contact .zip-wrap input {
  padding: 12px 21px 12px 55px;
  width: 100%;
}

main#Contact input[type="button"] {
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  font-weight: 500;
  color: #000;
  max-width: 140px;
  width: 100%;
  background: #dddddd;
  border: 3px solid #dddddd;
  padding: 10px 19px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  cursor: pointer;
}

main#Contact input[type="button"]:hover {
  background: none;
}

main#Contact input[type="checkbox"] + label {
  padding-left: 29px;
  position: relative;
  margin-right: 29px;
  cursor: pointer;
}

main#Contact input[type="checkbox"] + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #dddddd;
  background: #dddddd;
  box-sizing: border-box;
}

main#Contact input[type="checkbox"] + label::after {
  content: "";
  opacity: 0;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  display: block;
  height: 9px;
  left: 7px;
  margin-top: -8px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 5px;
}

main#Contact input[type="checkbox"]:checked + label {
  background: none;
}

main#Contact input[type="checkbox"]:checked + label::after {
  opacity: 1;
}

main#Contact input[type="radio"] + label {
  padding-left: 27px;
  position: relative;
  margin-right: 27px;
  cursor: pointer;
}

main#Contact input[type="radio"] + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 1px solid #dddddd;
  background: #dddddd;
  box-sizing: border-box;
  border-radius: 50%;
}

main#Contact input[type="radio"] + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 9px;
  height: 9px;
  background: #000;
  border-radius: 50%;
  opacity: 0;
}

main#Contact input[type="radio"]:checked + label {
  background: none;
}

main#Contact input[type="radio"]:checked + label::after {
  opacity: 1;
}

main#Contact .select-box {
  overflow: hidden;
  width: 60%;
  text-align: center;
  position: relative;
  border-radius: 2px;
  background: #dddddd;
}

main#Contact .select-box select {
  font-size: 16px;
  color: #000;
  letter-spacing: 0.035em;
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  appearance: none;
  padding: 12px 38px 12px 21px;
}

main#Contact .select-box select::-ms-expand {
  display: none;
}

main#Contact .select-box::before {
  position: absolute;
  top: 1.25em;
  right: 21px;
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  pointer-events: none;
}

main#Contact textarea {
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: 1px solid #dddddd;
  background: #dddddd;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 21px;
  min-height: 174px;
}

main#Contact .overscroll {
  overflow-y: scroll;
  height: 237px;
  padding: 25px 21px;
  background: #dddddd;
}

main#Contact .overscroll ul > li {
  margin-bottom: 25px;
}

main#Contact .overscroll ul > li strong {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 5px;
  color: #000;
}

main#Contact .overscroll ul > li p {
  font-size: 14px;
  line-height: 1.42;
}

main#Contact .overscroll ul > li > ol {
  margin-top: 5px;
}

main#Contact .overscroll ul > li > ol li {
  text-indent: -1.25em;
  padding-left: 1.25em;
}

main#Contact .overscroll ul > li:first-child strong {
  margin-bottom: 20px;
}

main#Contact .overscroll ul > li:last-child {
  margin-bottom: 0;
}

main#Contact .submit_area {
  margin-top: 85px;
  text-align: center;
}

main#Contact .submit_area span {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #000;
  width: 262px;
  background: #dddddd;
  box-sizing: border-box;
  font-feature-settings: "palt";
  position: relative;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid #dddddd;
  transition: all 0.3s ease;
}

main#Contact .submit_area span input[type="submit"] {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #000;
  cursor: pointer;
  width: 100%;
  height: 58px;
  box-sizing: border-box;
}

main#Contact .submit_area span:hover {
  background: none;
}

main#Contact .submit_area span:hover input[type="submit"] {
  color: #000;
}

main#Contact .submit_area ul.koumoku {
  max-width: 590px;
  margin: 20px auto 0;
}

main#Contact .submit_area ul.koumoku li {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #000;
  width: 262px;
  background: #5f4b08;
  box-sizing: border-box;
  font-feature-settings: "palt";
  position: relative;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid #5f4b08;
  transition: all 0.3s ease;
}

main#Contact .submit_area ul.koumoku li input[type="submit"] {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #000;
  cursor: pointer;
  width: 100%;
  height: 58px;
  box-sizing: border-box;
}

main#Contact .submit_area ul.koumoku li:hover {
  background: none;
}

main#Contact .submit_area ul.koumoku li:hover input[type="submit"] {
  color: #000;
}

main#Contact .submit_area ul.koumoku li:hover svg path {
  fill: #000;
}

main#Contact .btn_back {
  margin-top: 25px;
  text-align: center;
}

main#Contact .btn_back input {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #fff;
  width: 262px;
  background: #dddddd;
  box-sizing: border-box;
  font-feature-settings: "palt";
  position: relative;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid #dddddd;
  transition: all 0.3s ease;
  height: 58px;
  padding: 15px 15px 14px;
}

main#Contact .contact_back {
  margin-top: 25px;
  text-align: center;
}

main#Contact .contact_back a {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #fff;
  width: 262px;
  background: #dddddd;
  box-sizing: border-box;
  font-feature-settings: "palt";
  position: relative;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid #dddddd;
  transition: all 0.3s ease;
  height: 58px;
  padding: 15px 15px 14px;
}

main#Contact .contact_back a:hover {
  color: #000;
  background: none;
}

/*==================================
  Contact
==================================*/
main#Contact .container {
  margin: auto;
}

main#Contact .container p > a {
  background: linear-gradient(#000, #000) 0 100%/0 1px no-repeat;
  background-size: 100% 1px;
  padding-bottom: 2px;
  display: inline;
}

main#Contact .container p > a:hover {
  color: #704f00;
  background: linear-gradient(#704f00, #704f00) 0 100%/0 1px no-repeat;
  background-size: 100% 1px;
}

main#Contact .agree_area {
  margin: 30px 0 0;
  text-align: center;
}

main#Contact .need {
  color: #cc0303;
}

main#Contact table {
  display: block;
}

main#Contact table tbody {
  display: block;
}

main#Contact table tr {
  display: block;
  margin-bottom: 30px;
}

main#Contact table tr th {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.03em;
  font-weight: 500;
  display: block;
  text-align: left;
  margin-bottom: 13px;
}

main#Contact table tr td {
  display: block;
}

main#Contact table tr td .text02 {
  margin-top: 8px;
}

main#Contact .check-list {
  padding-top: 5px;
  padding-left: 0;
}

main#Contact .check-list li {
  display: inline-block;
}

main#Contact .form_wrap > p {
  margin-top: 0 !important;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */