/*==================================
  Contact
==================================*/

main#Contact {
  margin-top: 100px;

  .container {
    margin: auto;

    p > a {
      background: linear-gradient(#000, #000) 0 100%/0 1px no-repeat;
      background-size: 100% 1px;
      padding-bottom: 2px;
      display: inline;

      &:hover {
        color: #704f00;
        background: linear-gradient(#704f00, #704f00) 0 100%/0 1px no-repeat;
        background-size: 100% 1px;
      }
    }
  }

  .agree_area {
    margin: 73px 0 0;
    text-align: center;
  }

  .need {
    color: #fff;
    background-color: #e33500;
    @include Noto_Sans(500);
    font-size: 14px;
    padding: 0 5px;
  }

  .optional {
    color: #fff;
    background-color: #a3a3a3;
    @include Noto_Sans(500);
    font-size: 14px;
    padding: 0 5px;
  }

  table {
    display: block;

    tbody {
      display: block;
    }

    tr {
      display: flex;
      border-bottom: 1px solid #e9e9e9;
      padding: 20px 0;

      &:first-child{
        border-top: 1px solid #e9e9e9;
      }

      &:nth-child(3), &:nth-child(9){
        padding: 36px 0 24px;
        th{
          padding-top: 0;
          span{
            top: 3px
          }
        }
      }

      th {
        @include Noto_Sans(500);
        font-size: 16px;
        color: #252525;
        text-align: left;
        display: block;
        margin-bottom: 13px;
        width: 220px;
        position: relative;
        padding-top: 15px;
        span{
          position: absolute;
          top: 16px;
          right: 20px;
        }
      }

      td {
        display: block;
        width: calc(100% - 200px);
        .text02 {
          margin-top: 8px;
        }
      }
    }
  }

  .check-list {
    padding-top: 0;
    padding-left: 0;

    li {
      display: inline-block;
      margin-right: 27px;
    }
  }

  .bday_cont{
    display: flex;
    justify-content: flex-start;
    li{
      margin-right: 10px;
      label{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @include Noto_Sans(500);
        font-size: 16px;
        color: #252525;
        input{
          margin-right: 10px;

          &.bday_year{
            width: 169px;
          }
          &.bday_month{
            width: 99px;
          }
          &.bday_day{
            width: 99px;
          }
        }
      }
    }
  }

  .form_wrap {
    > p {
      @include Noto_Sans(500);
      font-size: 16px;
      color: #252525;
      margin-top: 80px;
      margin-bottom: 35px;
    }
  }

  .form-sec{
    padding-bottom: 180px;
  }

  .submit_area{
    span{
      &:hover{
        img{
          right: 10px;
        }
      }
      img{
        width: 25px;
        transition: .3s ease-in-out;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
      }
    }
  }
}


main.sfm2{
  table{
    tr {
      display: flex;
      border-bottom: 1px solid #e9e9e9;
      padding: 20px 0;

      &:first-child{
        border-top: 1px solid #e9e9e9;
      }

      &:nth-child(3), &:nth-child(9){
        padding: 20px 0 !important;
      }

      th {
        padding-top: 0 !important;
        margin-bottom: 0 !important;
        span{
          top: 3px !important;
        }
      }

      td {
        p{
          @include Noto_Sans(500);
          font-size: 16px;
          color: #252525;
          line-height: 24px;
        }
      }
    }
  }
}

.send_comp{
  padding-top: 100px;
  p{
    text-align: center;
    @include Noto_Sans(500);
    font-size: 16px;
    color: #252525;
  }
}