/*==================================
  Message
==================================*/
#Message main {
  margin-top: 100px;

  .sect_1{
    .wrapper{
      padding-top: 55px;
      padding-bottom: 180px;
      .container{
        position: relative;
        .row{
          // background-image: url(../images/message/bg_img.jpg);
          // background-size: 73% 100%;
          // background-position: left center;
          // background-repeat: no-repeat;

          // @media only screen and (max-width: 1090px) {
          //   background-size: 90% 100%;
          // }
          .col{
            &:nth-child(1){
              width: 45%;
              padding-right: 70px;
              padding-left: 50px;
              .img_cont{
                &.row{
                  .col{
                    width: 100%;
                    &:first-child{
                      padding-right: 50px;
                      padding-left: 0;
                      margin-bottom: 10px;
                    }
                    &:last-child{
                      display: flex;
                      align-items: flex-start;
                      justify-content: space-between;
                      img{
                        &:first-child{
                          width: 60%;
                        }
                        &:last-child{
                          width: 38%;
                        }
                      }
                    }
                  }
                }
              }
            }
            &:nth-child(2){
              width: 55%;
              padding-left: 50px;
              position: relative;
              z-index: 10;
              background: rgb(255, 255, 255);
              background: linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.883) 84%, rgba(255, 255, 255, 0) 100%);
              .p_content{
                padding-top: 40px;
                position: relative;
                z-index: 2;
                p{
                  @include Noto_Sans(500);
                  font-size: 16px;
                  color: #252525;
                  line-height: 40px;
                  &:not(:last-child){
                    margin-bottom: 35px;
                  }
                }
              }
              h4{
                position: relative;
                z-index: 2;
                margin-top: 90px;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                @include Noto_Sans(500);
                font-size: 14px;
                color: #000000;
                letter-spacing: .15em;
                padding-bottom: 20px;
                img{
                  width: 156px;
                  margin-left: 15px;
                  position: relative;
                  top: 3px;
                  left: unset;
                }
              }
            }
          }
          .bg_img{
            width: 892px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50px;
            @media only screen and (max-width: 992px) {
              width: 90%;
            }
            img{
              width: 100%;
              height: 100%;
            }
          }
        }
        
      }
    }
  }
}
