/*==================================
  Message
==================================*/
#Message main {
  margin-top: 100px;

  .sect_1{
    .wrapper{
      padding-top: 55px;
      padding-bottom: 180px;
      .container{
        .row{
          background-image: url(../images/message/bg_img.jpg);
          background-size: 73%;
          background-position: left center;
          background-repeat: no-repeat;
          .col{
            &:first-child{
              width: 48%;
              padding-right: 70px;
              padding-left: 50px;
              .img_cont{
                &.row{
                  .col{
                    width: 100%;
                    &:first-child{
                      padding-right: 50px;
                      padding-left: 0;
                      margin-bottom: 10px;
                    }
                    &:last-child{
                      display: flex;
                      align-items: flex-start;
                      justify-content: space-between;
                      img{
                        &:first-child{
                          width: 60%;
                        }
                        &:last-child{
                          width: 38%;
                        }
                      }
                    }
                  }
                }
              }
            }
            &:last-child{
              width: 52%;
              .p_content{
                padding-top: 40px;
                p{
                  @include Noto_Sans(500);
                  font-size: 16px;
                  color: #252525;
                  line-height: 40px;
                  &:not(:last-child){
                    margin-bottom: 35px;
                  }
                }
              }
              h4{
                margin-top: 90px;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                @include Noto_Sans(500);
                font-size: 14px;
                color: #000000;
                letter-spacing: .15em;
                img{
                  width: 156px;
                  margin-left: 15px;
                  position: relative;
                  top: 3px;
                }
              }
            }
          }
        }
      }
    }
  }
}
