/*==================================
  Recruit
==================================*/
#Recruit main {
  margin-top: 100px;

  .sect_1{
    overflow: hidden;
    .wrapper{
      padding-bottom: 120px;
      padding-top: 100px;
      // .container{
      //   .desc{
      //     @include Noto_Sans(500);
      //     font-size: 16px;
      //     color: #252525;
      //     line-height: 36.8px;
      //     text-align: center;
      //     padding-top: 90px;
      //     padding-bottom: 110px;
      //   }
      //   &:last-child{
      //     max-width: 1400px;
      //     padding-left: 0;
      //     padding-right: 0;
      //   }
      // }
      .row{
        .col{
          &:first-child{
            width: 61.07%;
            padding-right: 85px;
            padding-left: 50px;
            .list{
              max-width: 670px;
              margin-left: auto;
              li{
                &:not(:last-child){
                  margin-bottom: 15px;
                  .row{
                    .col{
                      border-bottom: 1px solid #e9e9e9;
                    }
                  }
                }
                .row{
                  justify-content: space-between;
                  .col{
                    padding: 0 0 16px 20px;
                    &:first-child{
                      width: 115px;
                      padding-right: 0;
                      display: flex;
                      align-items: center;
                    }
                    &:last-child{
                      width: calc(100% - 145px);
                    }
                    p{
                      @include Noto_Sans(500);
                      font-size: 16px;
                      color: #252525;
                      line-height: 20.8px;
                    }
                  }
                }
              }
            }
          }
          &:last-child{
            width: 38.93%;
          }
        }
      }
      a{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 480px;
        margin: 80px auto 0;
        height: 74px;
        background-color: #2fc0c5;
        @include Noto_Sans(500);
        font-size: 18px;
        color: #fff;
        position: relative;
        &:hover{
          img{
            right: 15px;
          }
        }
        img{
          width: 28px;
          position: absolute;
          top: 50%;
          right: 30px;
          transform: translate(0, -50%);
          transition: .3s ease-in-out;
        }
      }
    }
  }

  .sect_2{
    .wrapper{
      background-color: #f6fafb;
      padding-bottom: 185px;
      padding-top: 120px;
      .container{
        h3{
          @include Noto_Sans(700);
          font-size: 36px;
          color: #252525;
          text-align: center;
          margin-bottom: 55px;
        }
        .row{
          max-width: 1040px;
          margin: 0 auto;
          justify-content: space-between;
          align-items: flex-end;
          .col{
            width: 32.12%;
            &:first-child{
              p{
                @media only screen and (max-width: 972px) {
                  margin-bottom: 42px !important;
                 }
                 @media only screen and (max-width: 920px) {
                  margin-bottom: 11px !important;
                 }
              }
            }
            &:not(:last-child){
              p{
                @media only screen and (max-width: 1124px) {
                 margin-bottom: 42px;
                }
                @media only screen and (max-width: 972px) {
                  margin-bottom: 11px;
                 }
              }
            }
            &:last-child{
              p{
                letter-spacing: -.3px;
              }
            }
            p{
              span{
                display: block;
                @include Roboto(900);
                font-size: 24px;
                color: #2a94ed;
                text-align: center;
                line-height: .7;
              }
              @include Noto_Sans(500);
              font-size: 16px;
              color: #252525;
              line-height: 30px;
              text-align: center;
              margin-bottom: 11px;
            }
            a{
              width: 100%;
              height: 160px;
              background-color: #2fc0c5;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              &:hover{
                img{
                  right: -30px;
                }
              }
              p{
                span{
                  @include Noto_Sans(500);
                  font-size: 16px;
                  color: #fff;
                  display: block;
                  margin-bottom: 10px;
                }
                @include Noto_Sans(500);
                font-size: 32px;
                color: #fff;
                margin-bottom: 0 !important;
              }
              img{
                width: 28px;
                margin-top: 25px;
                transition: .3s ease-in-out;
                position: relative;
                right: 0;
              }
            }
          }
        }
      }
    }
  }
}
