/* base
==================================*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
li,
ol,
dl,
dd,
tr {
  font-size: 16px;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
.pc {
  display: none !important;
}

a {
  color: $font-color;
  text-decoration: none;
  &:visited {
    color: $font-color;
  }
  &:active {
    color: $font-color;
  }
}

/* main
==================================*/
main {
  display: block; /*IE対策*/
}

/* header
==================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  width: 100%;
  height: 55px;
  box-shadow: 0px -8px 13px 0px rgba(8,5,6,0.11);
  -webkit-box-shadow: 0px -8px 13px 0px rgba(8,5,6,0.11);
  -moz-box-shadow: 0px -8px 13px 0px rgba(8,5,6,0.11);
  .header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    background-color: #fff;
    .h_left{
      .logo {
        padding-left: 15px;
        img{
          width: 143px;
        }
      }
    }

    .h_right{
      height: 100vh;
      width: 100%;
      background-color: #00a3b5;
      order: 3;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
      padding-bottom: 100px;
      transform: translateX(-100%);
      transition: .3s ease-in-out;
      &.active{
        transform: translateX(0);
      }
      ul{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0 15px;
        li{
          width: 100%;
          position: relative;
          &:nth-of-type(3){
            order: 6;
            margin-top: 30px;
            border-bottom: none !important;
            a{
              background-color: #27b6c6;
            }
            &.active{
              &::before{
                transform: rotate(90deg);
                opacity: 0;
              }
              &::after{
                transform: rotate(180deg);
              }
            }
            &::before{
              content: "";
              display: block;
              width: 16px;
              height: 1px;
              background-color: #fff;
              position: absolute;
              top: 25px;
              right: 16px;
              transition: .3s ease-in-out;
            }
            &::after{
              content: "";
              display: block;
              width: 16px;
              height: 1px;
              background-color: #fff;
              position: absolute;
              top: 25px;
              right: 16px;
              transform: rotate(90deg);
              transition: .3s ease-in-out;
            }
          }

          &:not(:last-child){
            border-bottom: 1px solid #5cc5d0;
          }
          a{
            @include Noto_Sans(500);
            font-size: 16px;
            color: #fff;
            padding: 15px 20px;
            display: block;
            width: 100%;
            box-sizing: border-box;
          }
          .sub_menu{
            position: unset;
            top: unset;
            width: unset;
            height: unset;
            background-color: unset;
            display: none;
            padding: unset;
            li{
              a{
                background-color: unset;
              }
              &:nth-of-type(3){
                order: unset;
                margin-top: 0;
                border-bottom: 1px solid #5cc5d0 !important;
                &::before{
                  content: "";
                  display: unset;
                  width: unset;
                  height: unset;
                  background-color: unset;
                  position: unset;
                  top: unset;
                  right: unset;
                }
                &::after{
                  content: "";
                  display: unset;
                  width: unset;
                  height: unset;
                  background-color: unset;
                  position: unset;
                  top: unset;
                  right: unset;
                }
              }
            }
          }
        }
      }
    }
    .menu {
      order: 2;
      position: relative;
      background: rgb(0,182,128);
      background: linear-gradient(270deg, rgba(0,182,128,1) 0%, rgba(0,193,216,1) 100%);
      width: 60px;
      height: 100%;
      cursor: pointer;
      span {
        position: absolute;
        top: 25px;
        left: 0;
        right: 0;
        display: inline-block;
        background: #fff;
        width: 6px;
        height: 6px;
        margin: auto;
        border-radius: 50px;
        transition: 0.3s;
        &.line-t.show {
          top: 25px;
          &.show {
            opacity: 0;
          }
        }
        &.line-m {
          top: 25px;
          left: -23px;
          &.show {
            transform: rotate(-45deg);
            left: 0;
            width: 30px;
            height: 4px;
          }
        }
        &.line-b {
          top: 25px;
          right: -23px;
          &.show {
            // top: 25px;
            right: 0;
            width: 30px;
            height: 4px;
            transform: rotate(45deg);
          }
        }
      }
      p {
        color: #fff;
        padding: 55px 0 0;
        font-size: 10px;
        text-align: center;
      }
    }
  }
}

/* footer
==================================*/
footer {
  background: #00a3b5;
  .footer_inner{
    padding-top: 65px;
    padding-bottom: 35px;
    .container{
      .logo{
        text-align: center;
        margin: 0 0 35px;
        a{
          img{
            width: 176px;
          }
        }
      }
      .copy{
        text-align: center;
        small{
          @include Noto_Sans(500);
          font-size: 10px;
          color: #fff;
        }
      }
    }
  }
}

#pageTop {
  opacity: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 888;
  transition: 0.3s;
  &.active {
    opacity: 1;
  }
  a {
    display: block;
    width: 50px;
  }
}
