/*==================================
  Message
==================================*/
#Message main {
  margin-top: 55px;

  .sect_1{
    .wrapper{
      padding-top: 60px;
      // padding-bottom: 367.5px;
      // background-image: url(../images/message/sp/bg_img.jpg);
      // background-size: 100%;
      // background-position: center bottom;
      // background-repeat: no-repeat;
      .container{
        padding-left: 0;
        padding-right: 0;
        .row{
          .col{
            &:nth-child(1){
              order: 2;
              width: 100%;
              margin-top: -285.5px;
              .img_cont{
                &.row{
                  justify-content: space-between;
                  .col{
                    &:first-child{
                      margin-bottom: 10px;
                      width: 57.39%;
                      order: 1;
                    }
                    &:last-child{
                      width: 41.5%;
                      padding-top: 40px;
                      order: 2;
                      display: flex;
                      flex-wrap: wrap;
                      align-items: flex-start;
                      justify-content: space-between;
                      img{
                        &:first-child{
                          width: 100%;
                          margin-bottom: 5px;
                        }
                        &:last-child{
                          width: 80%;
                        }
                      }
                    }
                  }
                }
              }
            }
            &:nth-child(2){
              order: 1;
              width: 100%;
              padding-left: 15px;
              padding-right: 15px;
              .p_content{
                p{
                  @include Noto_Sans(400);
                  font-size: 16px;
                  color: #252525;
                  line-height: 24px;
                  &:not(:last-child){
                    margin-bottom: 20px;
                  }
                }
              }
              h4{
                margin-top: 45px;
                // margin-bottom: 75px;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                @include Noto_Sans(500);
                font-size: 12px;
                color: #000000;
                letter-spacing: .15em;
                img{
                  width: 130px;
                  margin-left: 15px;
                  position: relative;
                  top: 3px;
                }
              }
            }
          }
        }
      }
    }
  }
}
